/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-aa {
  background-image: url(sprite.png);
  background-position: 0px -445px;
  width: 221px;
  height: 76px;
}
.icon-aaa {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 159px;
  height: 40px;
}
.icon-qq {
  background-image: url(sprite.png);
  background-position: 0px -45px;
  width: 75px;
  height: 75px;
}
.icon-wb {
  background-image: url(sprite.png);
  background-position: 0px -125px;
  width: 75px;
  height: 75px;
}
.icon-wx {
  background-image: url(sprite.png);
  background-position: 0px -205px;
  width: 75px;
  height: 75px;
}
.icon-wy {
  background-image: url(sprite.png);
  background-position: 0px -285px;
  width: 75px;
  height: 75px;
}
.icon-zhihu {
  background-image: url(sprite.png);
  background-position: 0px -365px;
  width: 75px;
  height: 75px;
}
